<div class="admin-main ">
  <nav class="side-menu nav row" id="side-nav">
    <ul class="col-12 d-flex justify-content-center align-items-center">
      <li>
        <button class="btn btn--log-out j-log-out">Log out</button>
      </li>
    </ul>
  </nav>
  <div class="modal modal--loading">
    <div class="spinner"></div>
    <h3>Loading</h3>
  </div>
  <div class="content pr-2">
    <div class="row justify-content-end">
      <div class="btn admin-refresh j-refresh">Refresh</div>
      <button class="btn admin-save j-save">Save changes</button>
    </div>
    <table class="table users_table" id="users_table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Registration date</th>
        </tr>
      </thead>
      <tbody class="j-tbody">
        {{#each pending_users}}
          <tr class="j-user" data-id="{{id}}">
            <td>{{full_name}}</td>
            <td class="email">{{email}}</td>
            <td>
              <select name="registration_status" id="">
                <option value="{{registration_status}}">
                  {{registration_status}}
                </option>
                <option value="approved">Approved</option>
                <option value="denied">Denied</option>
              </select>
            </td>
            <td>{{registration_date}}</td>
          </tr>
          {{else}}
          <h2 class="empty_users_message">There are not users waiting.</h2>
          {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script src="../js/admin-main.js"></script>