<div class="admin-main">
  <div class="side-menu">

  </div>
  <div class="content">
    <table class="users_table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Registration date</th>
        </tr>
      </thead>
      <tbody>
        {{#each pending_users}}
        <tr>
          <td>
            {{full_name}}
          </td>
          <td>
            {{email}}
          </td>
          <td>
            <select name="" id="">
              <option value="{{registration_status}}" >
                {{registration_status}}
              </option>
              <option value="approve">Approved</option>
              <option value="denied">Denied</option>
            </select>
          </td>
          <td>
            {{registration_date}}
          </td>

        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>