<div class="admin-main">
  <div class="side-menu">

  </div>
  <div class="content">
    <div class="users_table">
      <div class="thead">
        <div class="bottons-container">
          <div class="btn admin-refresh j-refresh">Refresh</div>
          <button class="btn admin-save j-save">Save changes</button>
        </div>
        <div class="tr">
          <div class="th">Name</div>
          <div class="th">Email</div>
          <div class="th">Status</div>
          <div class="th">Registration date</div>
        </div>
      </div>
      <div class="tbody">
        {{#each pending_users}}
          <div class="tr j-user" data-id="{{id}}">
            <div class="td">
              {{full_name}}
            </div>
            <div class="td">
              {{email}}
            </div>
            <div class="td">
              <select name="registration_status" id="">
                <option value="{{registration_status}}">
                  {{registration_status}}
                </option>
                <option value="approved">Approved</option>
                <option value="denied">Denied</option>
              </select>
            </div>
            <div class="td">
              {{registration_date}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="../js/admin-main.js"></script>