<div class="message j-message-box">
  
</div>
<div class="modal modal--addCar j-modal-add">
  <div class="modal-content">
    <form action="" class="form-addCar j-form-addCar">
      <div class="form-pair">
        <label for="model">Model</label>
        <input type="text" name="model" id="model" required>
      </div>
      <div class="form-pair">
        <label for="year">Year</label>
        <input type="number" name="year" id="year" required>
      </div>
      <div class="form-pair">
        <label for="kilometers">Kilometers</label>
        <input type="number" name="kilometers" id="kilometers" required>
      </div>
      <div class="form-pair">
        <div class="image-text">Image</div>
        <div src="" alt="" class="image-preview j-preview"></div>
        <label for="image" class="image-label j-image-label"><span>Select file</span></label>
        <input type="file" name="image" id="image" accept="image/*">
      </div>
      <button class="btn j-saveNewCar" type="submit">Add</button>
    </form>
  </div>
</div>
<div class="modal modal--deleteCar" id="delete-modal">
  <div class="modal-content">
    <p class="title">Are you sure yo want to delete this car?</p>
    <div class="j-modal-carInfo modal-info">

    </div>
    <div class="buttons-container">
      <div class="btn btn--delete j-accept-delete">Delete</div>
      <p class="cancel-delete j-cancel-delete">Cancel</p>
    </div>
  </div>
</div>
<div class="cars">
  <div class="side-menu">
    <ul>
      <li>
        <a href="/panel">Home</a>
      </li>
      <li>
        <a href="/panel/clients">Clients</a>
      </li>
      <li>
        <button class="btn btn-addCar j-addCar">Add Car</button>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="cars_dashboard j-carsDashboard">
      {{#each cars}}
        <div class="card" data-carnumber="{{id}}">
          {{#if image_name}}
            <img src="/{{image_name}}" alt="">
          {{else}}
            No image
          {{/if}}
          <h3 class="car_model">
            {{model}}
          </h3>
          <p class="car_year">
            Year: <span>{{year}}</span>
          </p>
          <p class="car_kilometers">
            Kilometers: <span>{{kilometers}}</span>
          </p>
          <div class="car_availability {{status}}">
            {{status}}
          </div>
          <div class="delete-car j-delete-car {{status}}">
            Delete Car
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="../js/cars.js"></script>