<div class="message j-message-box">

</div>
<div class="modal modal--createRent j-modal-create">
  <div class="modal-content">
    <form action="" class="form-createRent j-form-createRent">
      <div class="form-pair">
        <label for="car">Car</label>
        <select name="car" id="car">
          <option disabled selected value="">Select a car</option>
        </select>
      </div>
      <div class="form-pair">
        <label for="client">Client</label>
        <select name="client" id="client" required>
          <option disabled selected value="">Select a client</option>
        </select>
      </div>
      <div class="form-pair">
        <label for="creationDate">Creation Date</label>
        <input type="text" name="creationDate" id="creationDate" readonly required>
      </div>
      <div class="form-pair">
        <label for="returnDate">Return Date</label>
        <input type="date" name="returnDate" id="returnDate" required>
      </div>
      <div class="form-pair">
        <label for="createdBy">Created By</label>
        <select name="createdBy" id="createdBy" readonly required disabled>
          <option value="{{user}}">{{user_name}}</option>
        </select>
      </div>
      
      <button class="btn j-saveRental" type="submit">Create</button>
    </form>
  </div>
</div>
<div class="modal modal--filterRents j-modal-filter">
  <div class="modal-content">
    <form action="" class="form-filterRents j-form-filterRents">
      <div class="form-pair">
        <label for="car_model">Car model</label>
        <input type="text" name="car_model" />
      </div>
      <div class="form-pair">
        <label for="car_year">Car year</label>
        <input type="text" name="car_year">
      </div>
      <div class="form-pair">
        <label for="client_name">Client name</label>
        <input type="text" name="client_name" id="client_name" >
      </div>
      <div class="form-pair">
        <label for="license_number">License number</label>
        <input type="text" name="license_number" id="license_number">
      </div>
      
      <button class="btn j-searchRentals" type="submit">Filter</button>
    </form>
  </div>
</div>
<div class="panel">
{{#if approved_user}}
  <div class="side-menu">
    <ul>
      <li>
        <a href="/panel/cars">Cars</a>
      </li>
      <li>
        <a href="/panel/clients">Clients</a>
      </li>
      <li>
        <button class="btn btn-createRental j-createRental">Create Rental</button>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="panel-dashboard j-panelDashboard">
      <div class="panel-dashboard__upper">
        <div class="btn btn--filter j-filter">Filter</div>
        <div class="pair">
          <label for="sort">Sort by:</label>
          <select name="sort" id="sort">
            <option value="creation_date">Creation date</option>
            <option value="return_date">Return date</option>
          </select>
        </div>
      </div>
      <div class="panel-dashboard__bottom j-cardsContainer">
        {{#each rentals}}
          <div class="card j-card" data-rentalnumber="{{rent_id}}">
            {{#if image_name}}
            <img src="/{{image_name}}" alt="">
            {{else}}
            No image
            {{/if}}
            <h3 class="car_model j-carModel">
              {{model}}
            </h3>
            <p class="car_year">
              Year: <span class="j-carYear">{{year}}</span>
            </p>
            <p class="car_kilometers">
              Kilometers: <span>{{kilometers}}</span>
            </p>
            <p class="client_name">
              Client: <span class="j-clientName">{{full_name}}</span>
            </p>
            <p class="license_number">
              License: <span class="j-licenseNumber">{{license_number}}</span>
            </p>
            <p class="rental_date">
              Rental date: <span class="j-rentalDate">{{rental_date}}</span>
            </p>
            <p class="return_date">
              Return: <span class="j-returnDate">{{return_date}}</span>
            </p>
            <div class="delete-car j-delete-car {{status}}">
              Return rental
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{else}}
  <div class="dashboard__message">
    <h2 class="title">
      Hello {{user_name}}
    </h2>
    <div class="text">
      {{#if denied_user}}
        Your registration has been denied. If you think this is a mistake, please send an email to ee@nope.com
      {{else}}
        Your registration is being evaluated by an administrator. Please wait a little bit.
      {{/if}}
    </div>
  </div>
{{/if}}
</div>
<script src="../js/panel.js"></script>