<div class="message j-message-box">

</div>
<div class="modal modal--createRent j-modal-create">
  <div class="modal-content">
    <form action="" class="form-createRent j-form-createRent">
      <div class="form-pair">
        <label for="car">Car</label>
        <input type="text" name="car" id="car" required>
      </div>
      <div class="form-pair">
        <label for="client">Client</label>
        <input type="number" name="client" id="client" required>
      </div>
      <div class="form-pair">
        <label for="creationDate">Creation Date</label>
        <input type="date" name="creationDate" id="creationDate" required>
      </div>
      <div class="form-pair">
        <label for="returnDate">Return Date</label>
        <input type="date" name="returnDate" id="returnDate" required>
      </div>
      <div class="form-pair">
        <label for="createdBy">Return Date</label>
        <input type="date" name="createdBy" id="createdBy" required>
      </div>
      
      <button class="btn j-saveNewCar" type="submit">Add</button>
    </form>
  </div>
</div>
<div class="panel">
{{#if approved_user}}
  <div class="side-menu">
    <ul>
      <li>
        <a href="/panel/cars">Cars</a>
      </li>
      <li>
        <a href="/panel/clients">Clients</a>
      </li>
      <li>
        <button class="btn btn-createRental j-createRental">Create Rental</button>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="panel-dashboard j-panelDashboard">
      {{#each cars}}
        <div class="card" data-carnumber="{{id}}">
          {{#if image_name}}
          <img src="/{{image_name}}" alt="">
          {{else}}
          No image
          {{/if}}
          <h3 class="car_model">
            {{model}}
          </h3>
          <p class="car_year">
            Year: <span>{{year}}</span>
          </p>
          <p class="car_kilometers">
            Kilometers: <span>{{kilometers}}</span>
          </p>
          <div class="car_availability {{status}}">
            {{status}}
          </div>
          <div class="delete-car j-delete-car {{status}}">
            Delete Car
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="dashboard__message">
    <h2 class="title">
      Hello {{user_name}}
    </h2>
    <div class="text">
      {{#if denied_user}}
        Your registration has been denied. If you think this is a mistake, please send an email to ee@nope.com
      {{else}}
        Your registration is being evaluated by an administrator. Please wait a little bit.
      {{/if}}
    </div>
  </div>
{{/if}}
</div>
<script src="../js/panel.js"></script>